<div class="slide intro d-flex align-items-center flex-column justify-content-center">
    <p class="name-label medium-text">My name is</p>
    <p class="name big-text fade-in-left">Mikołaj Cichocki</p>
    <p class="blinking" appScrollTrigger>Scroll down to meet me</p>
</div>
<div class="slide">
    <div class="row m-0">
        <div class="col col-left px-4">
            <p class="big-text">Education</p>
        </div>
        <div class="col col-right bg-pan-right d-flex justify-content-center align-items-center" appScrollTrigger>
            <div class="schools px-4 py-2">test</div>
        </div>
    </div>
    
</div>