.col-right {
    background-image: linear-gradient(to right, #f06 0%, #4a90e2 33%, #f06 66%, #4a90e2 100%);
    background-size: 200% 100%;
    height: 100vh;
}

.schools {
    background-color: white;
    border-radius: 15px;
    height: 60%;
    width: 90%;
}